* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #282828;
    font-weight: 600;
}

/*Page Loading*/

.page-load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fafafa;
    z-index: 11111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-load span {
    width: 50px;
    height: 50px;
    background: #fafafa;
    border-radius: 50%;
    border: 5px solid #fafafa;
    border-left-color: #f25454;
    border-right-color: #f25454;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/****** navbar ******/

.nav-menu ul li {
    padding-right: 30px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    transition: all 0.5s;
}

.nav-menu ul li .active {
    color: #f25454 !important;
}

.nav-menu ul li a:hover {
    color: #f25454;
}

.sticky {
    width: 100vw;
    background-color: white;
    transition: all 0.5s;
}

.sticky ul li a {
    color: black;
}

.sticky .logo img {
    content: url(../img/logo-red.png);
}

/******* header *****/

header {
    position: relative;
}

.setting-icon {
    width: fit-content;
    background-color: #1a1a1a;
    padding: 8px 10px;
    position: fixed;
    z-index: 3;
    top: 20%;
}

.setting-icon i {
    color: white;
}

.carousel-item img {
    height: 100%;
    width: 100vw;
}

.carousel-caption {
    top: 10%;
}

.carousel-caption h2 {
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.control-slider {
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
}

.control-slider a i {
    color: white;
    font-size: 20px;
    padding: 20px;
    transition: all 0.5s;
}

.control-slider .next-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 50%;
    opacity: 0;
    background-color: white;
    transition: all 0.5s;
}

.control-slider .next-slide:hover:before {
    width: 100%;
    opacity: 1;
}

.control-slider .prev-slide::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 50%;
    opacity: 1;
    background-color: white;
    transition: all 0.5s;
}

.control-slider .prev-slide:hover:before {
    width: 100%;
    opacity: 1;
}

.control-slider .next-slide i:hover {
    position: relative;
    z-index: 1;
    color: black;
}

.control-slider .prev-slide i:hover {
    position: relative;
    z-index: 1;
    color: black;
}

.mouse-down {
    position: absolute;
    width: 26px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 13px;
    background: transparent;
    bottom: 30px;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: all 0.5;
    cursor: pointer;
}

.mouse-down a {
    display: block;
    width: 100%;
    height: 100%;
}

.mouse-down .ball {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 1%;
    left: 0;
    right: 0;
    transition: all 0.5s;
    animation: scroll 3s infinite ease;
}

@keyframes scroll {
    0% {
        top: 30%;
    }
    25% {
        top: 40%
    }
    50% {
        top: 50%
    }
    75% {
        top: 60%
    }
    100% {
        top: 70%
    }
}

.mouse-down:hover {
    border-color: #f25454;
}

.mouse-down:hover .ball {
    background-color: #f25454;
}

/***** about section *****/

.section-title h2 {
    font-size: 5rem;
    color: rgb(211, 200, 200);
    opacity: 0.3;
}

.section-title h3 {
    font-size: 2.5rem;
}

.section-title h3::after {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left: 38%;
    width: 50px;
    height: 1px;
    background-color: #282828;
    transition: all 0.6s;
}

.section-title h3:hover:after {
    transform: scale(1.2);
}

.section-description p {
    width: 65%;
    font-size: 18px;
    color: #999;
    margin-bottom: 15px;
}

.section-content p {
    color: rgb(97, 97, 97);
    font-size: 14px;
}

/*******Skill bar ******/
.skills-card span{
    opacity: 0;
    animation: showSkillName 1s  linear forwards;
}

@keyframes showSkillName {
    100%{
      opacity: 1;
    }
  }

.progress-bar {
    background-color: #f25454;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1.5s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }

.progress-bar.branding::after {
    content: "80%";
    position: absolute;
    right: 5px;
}

.progress-bar.web::after {
    content: "95%";
    position: absolute;
    right: 5px;
}

.progress-bar.graphic::after {
    content: "85%";
    position: absolute;
    right: 5px;
}

.progress-bar.develop::after {
    content: "70%";
    position: absolute;
    right: 5px;
}

/*******team section ******/

.member-image {
    position: relative;
    overflow: hidden;
}

.member-image img {
    transition: all 0.6s;
}

.member:hover .social-layer {
    opacity: 1;
}

.member h6 {
    transition: all 0.6s;
}

.member:hover h6 {
    color: #f25454;
}

.member-image:hover img {
    transform: scale(1.1);
}

.member p {
    color: #666;
    font-size: 14px;
    padding: 0;
}

.social-layer {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s;
    background-color: rgba(242, 84, 84, 0.85);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-layer ul li {
    padding: 0 15px;
}

.contact-us-btn {
    text-decoration: none;
    color: white;
    background-color: #f25454;
    padding: 15px 20px;
    align-self: flex-end;
}

.contact-us-btn:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(242, 84, 84, 0.85);
}

/***** services section */

#services {
    background-color: #fafafa;
}

.service-item {
    display: flex;
}

.service-icon i {
    color: #f25454;
    font-size: 25px;
}

.service-content h4 {
    font-size: 18px;
    transition: all 0.7s;
}

.service-content p {
    color: #666;
    font-size: 14px;
}

.service-item:hover h4 {
    color: #f25454;
}

/***** Client Reviews section *****/

.client-image img {
    width: 10%;
    height: 10%;
}

.client-info h3 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.client-comment {
    margin-top: 30px;
}

.client-comment p {
    color: #666;
    font-size: 25px;
    line-height: 1.5em;
}

.client-comment p i {
    font-weight: 900;
}

/***** Contact section *****/

#contact {
    background-color: #fafafa;
}

form {
    display: flex;
    flex-direction: column;
}

form input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    color: #a6a6a6;
    border-radius: 3px;
    border: 1px solid #eee;
}

form button {
    width: 200px;
    background-color: #f25454;
    color: white;
    border: none;
    padding: 10px 0;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
}

form button:hover {
    background-color: rgba(242, 84, 84, 0.85);
}

form input:focus, form textarea:focus {
    outline: none !important;
    border-color: red;
}

.contact-icon {
    display: flex;
    width: 50px;
    justify-content: center;
}

.contact-icon i {
    font-size: 35px;
    line-height: 40px;
    color: #f25454;
}

.contact-text {
    margin-left: 15px;
}

.contact-text h4 {
    font-size: 20px;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.6s;
}

.contact-text p {
    font-size: 14px;
    width: 100%;
}

.contact-card {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.contact-card:hover .contact-text h4 {
    color: #f25454;
}

/***** footer *****/

footer {
    width: 100%;
    background-image: url(../img/dotted-map.png);
    background-size: contain;
    background-position: center center;
    background-color: #222;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-top-icon {
    background: rgba(242, 84, 84, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 48%;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
}

.scroll-top-icon i {
    color: white;
}

.scroll-top-icon:hover {
    background-color: #f25454;
}

.footer-icon {
    margin-top: 70px;
    margin-bottom: 30px;
}

.footer-card h4 {
    color: white;
}

.footer-card p, .footer-card span {
    color: #b0b0b0;
}

.footer-card ul li a {
    color: #b0b0b0;
    text-decoration: none;
}

.footer-card ul li {
    margin-top: 10px;
}

.footer-card ul li span {
    padding: 8px;
    border: 1px solid #999;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 14px;
}

.footer-social {
    width: 100%;
    background-color: #1a1a1a;
    padding: 25px 0;
}

.footer-social ul li {
    padding-right: 25px;
}

.footer-social ul li a i {
    color: white;
}

.footer-social p {
    color: #b0b0b0;
}

.copyright p {
    margin-bottom: 0;
}

@media all and (max-width:991px) {
    nav {
        background-color: white;
    }
    nav .navbar-toggler i {
        color: black;
    }
    #navLogo {
        content: url("../img/logo-red.png");
    }
    .nav-menu {
        flex-direction: column;
        background-color: white;
    }
    .nav-menu ul {
        flex-direction: column;
    }
    .nav-menu ul li {
        padding: 8px 0;
    }
    .nav-menu ul li a {
        color: black;
    }
    .social-icons {
        display: none;
    }
    .carousel-caption h2 {
        font-size: 25px;
    }
}